body {
    margin:0 auto;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    overflow:hidden;
}

p {
    color:#777777;
}

img {
    width:100%;
}

.container,
section
{
    width:960px;
    margin:0 auto;
}

header {
    position:relative;
    width:960px;
}

h1 {
    background:#4aaaa5;
    color:#fff;
    display:inline-block;
    padding:20px;
    font-family:'Georgia', Times, Times New Roman, serif;
    margin:10px 0 0;
}

 nav {
     display:inline-block;
     margin-top:30px;
     position:absolute;
     right:0;
     color:#ccc;
 }

    nav a {
    text-decoration: none;
    width:90px;
    text-transform: capitalize;
    text-align:center;
    padding:10px 0;
    }

    nav a.bar:after {
        content:'|';
        margin-left:10px;
        color:#ccc;
    }

    nav a.current {
        color:#666666;
    }

    nav a:link
    {
        color:#ccc;
    }
    nav a:visited {
        color:#ccc;
    }

    nav a:hover {
        color:#4aaaa5;
        cursor:pointer;
    }

    

.background-pattern {
    width:100%;
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/houndstooth-pattern.png");
    border-top:2px solid#ccc;
}    

section {
        padding:20px 0;
}

    article {
        background:#fff;
        border:1px solid #ddd;
        padding:20px;
    }

     h2 {
        width:200px;
        color:#4aaaa5;
        padding:0;
    }

    hr {
        border:1px solid #ddd;
        margin-bottom:20px;
    }

    .me-profile {
        max-width:130px;
        float:left;
        margin-right:20px;
    }

    article p {
        line-height:30px;
    }


    footer {
        background:#666666;
        padding:10px 0;
        color:#fff;
        font-size:10px;
        /* position:sticky; */
        width:100%;
        border-top:8px solid #4aaaa5;
    }

    footer p {
        margin-bottom:2px;
        text-align:center;
        color:#ccc;
    }

    /********************
    CONTACT SECTION
    */


    input,
    textarea {
        width:97%;
        margin:10px 0;
        border:1px solid #ccc;
        display:block;
    }

    label {
        color:#777777;
    }
    
    input {
        height:30px;
        padding-left:10px;
        padding-right:20px;
    }

    textarea {
        height:200px;
        width:100%;
    }


    .contact-background-pattern {
        background:#fff;
    } 

    input[type="submit"]{
        background:#4aaaa5;
        width:100px;
        color:#fff;
    }



    /********************
    PORTFOLIO SECTION
    */
    
    .portfolio-wrapper {
        width: 480px;
    }
    .portfolio-work {
      display:inline-block;
    }

    .portfolio-work img {
        max-width:200px;
        float:left;
        margin:20px 20px 20px 0;
    }

   .portfolio-work h4 {
        background:#4aaaa5;
        position:absolute;
        margin-top:120px;
        padding:5px 0;
        display:block;
        width:200px;
        text-align:center;
        font-weight:normal;
        color:#fff;
        font-family:'Georgia', Times, Times New Roman, serif;
   }
    /* CONTENT */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }


 /*-------------MEDIA QUERIES-----------*/

 @media screen and (max-width: 980px) {
   
 }
 
 @media screen and (max-width: 768px) {
    h1 {
        background:purple;
    }
}

@media screen and (max-width:640px) {

    body {
        overflow:auto;
    }
    
    .container,
    header,
    section,
    nav {
        width:100%;
    }


    h1 {
        display:block;
        background:#4aaaa5;
        text-align:center;
    }
}
 